/* # for ID selector, . for CLASS selector*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Achron;
    src: url('../fonts/Achron.otf');
}

@font-face {
    font-family: Dash;
    src: url('../fonts/Dash.otf');
}

@keyframes fontcolor {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none; /* Ensures content above is clickable */
}

.afternav {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: center;
    opacity: 0.7; /*makes it see through */
}

.bg-dark {
    background-color: #000000 !important;
}

.center-container button {
    letter-spacing: 10px;
    height: 50px;
    margin: 5px;
    width: 90%;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Achron;
    border: solid #404c5d 1px;
    font-size: 25px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    animation-name: fontcolor;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.center-container button:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
    animation: none;
}

.center-container button:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
}
  

.center-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
}


/* After the Navbar */

#title {
    color: white;
    font-family: Achron;
    padding: 50px;
    text-align: center;
    justify-content: center;
}

.projectdetails-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectdetails-box img {
    width: 70%;
    padding: 10px;
}

.detailsbox-text {
    color: black;
    background-color: white;
    padding: 10px;
}

.title-project-name {
    text-align: center;
    font-family: Dash;
}